<% layout("layoutss/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">

                <h3>Details:</h3>
            </div>
            <div class="card col-7 offset-2">
                <img src="<%= item.image.url%>" alt="none" class="card-image-top show-image">

                <div class="card-body">
                    <p class="card-text">
                        <b>Created by:<%= item.owner.username %></b>
                        <br>
                        <b>Title: <%= item.title %></b>
                        <br>
                        <b>Description: </b>
                        <%= item.description %>
                            <br>
                            <b>Price: &#8377;</b>
                            <%= item.price.toLocaleString("en-IN") %>/night
                                <br>
                                <b>Location: </b>
                                <%= item.location %>
                                    <br>
                                    <b>Country: </b>
                                    <%= item.country %>
                                    <br>
                                    <b>Category:</b>
                                    <%= item.category %>
                    </p>
                </div>
            </div>
        </div>
        <% if (currentuser && item.owner._id.equals(currentuser._id)) { %>
            <div class="buttons">
                <div class="col-4">
                    <a href="/listings/edit/<%= item.id %>" class="btn btn-dark
                    col-3 mt-3 offset-6">Edit</a>
                </div>
                <div class="col-5">
                    <form action="/listings/delete/<%= item.id %>?_method=delete" method="post">
                        <button class="btn btn-dark mt-3 col-3 delete">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>

                <% if (currentuser) { %>
                    <hr class="col-7 offset-2">
                    <div class="mt-3 col-7 offset-2">
                        <form action="/listings/<%= item.id %>/review/add" method="post" novalidate
                            class="needs-validation">
                            <div>
                                <legend>Rating:</legend>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                        checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="mt-1">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="10" class="form-control"
                                    required></textarea>
                                <div class="valid-feedback">Looks Good</div>
                                <div class="invalid-feedback">Comment is Required</div>
                            </div>
                            <button class="btn btn-dark mt-3 ms-1">Submit</button>
                        </form>
                    </div>
                    <% } %>
                        <% if (item.reviews.length>0) { %>
                            <hr class="col-7 offset-2">
                            <div class="offset-2">
                                <h4><b>All Reviews</b></h4>
                                <div class="row col-9">
                                    <% for( review of item.reviews) { %>
                                        <div class="card col-3 mb-3 ms-3">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <%= review.author.username %>
                                                </div>
                                                <p class="starability-result" data-rating="<%= review.rating %>">
                                                  </p>
                                                <div class="card-text">
                                                    <%= review.comment %>
                                                </div>
                                            </div>
                                            <form
                                                action="/listings/<%= item.id %>/review/<%= review.id %>?_method=Delete"
                                                method="post">
                                                <button class="btn btn-dark delete">Delete</button>
                                            </form>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
    </body>